html {
  box-sizing: border-box;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: hsl(0, 15%, 15%);
  font-family: "Josefin Sans", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: center / cover no-repeat
      linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
    url("./images/wall1.jpg");
}

/* Timer container */

section,
.timer-container {
  display: flex;
}

section {
  padding: 5rem 10rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  flex-direction: column;
  align-items: center;
}

section h2 {
  font-size: 5rem;
}

.timer-container {
  text-align: center;
  gap: 2rem;
}

.timer-container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .box {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
  background-color: #fff;
  width: 8rem;
  user-select: none;
}

.timer-container h3 {
  font-size: 3rem;
}

.timer-container h4 {
  font-size: 4rem;
  color: #000;
}

.its-out {
  user-select: none;
  font-size: 10rem;
  color: #fff;
}
